<div class="col-md-9 col-sm-7">
  <div class="product-page" style="margin-top: 40px">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="product-main-image">
          <img src="https://www.lego.com/cdn/cs/set/assets/bltb2ef891e7096f860/71774_Prod.png?fit=bounds&format=webply&quality=80&width=320&height=320&dpr=1.5"
               alt="Cool green dress with red bell" class="img-responsive"
               data-BigImgsrc="https://www.lego.com/cdn/cs/set/assets/bltb2ef891e7096f860/71774_Prod.png?fit=bounds&format=webply&quality=80&width=320&height=320&dpr=1.5">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <h1>CHI TIẾT SẢN PHẨM</h1>

        <div class="modal-body">
          <div class="row mt-2">
            <div class="col-md-5">
              <p style="font-weight: bold">Tên sản phẩm</p>
              <p style="font-weight: bold">Chủ đề</p>
              <p style="font-weight: bold">Số lượng mảnh (pcs)</p>
              <p style="font-weight: bold">Giá (VND)</p>
              <p style="font-weight: bold">Năm sản xuất</p>
              <p style="font-weight: bold">Số lượng trong kho (Hộp)</p>
            </div>
            <div class="col-md-1">
              <p>:</p>
              <p>:</p>
              <p>:</p>
              <p>:</p>
              <p>:</p>
              <p>:</p>
            </div>
            <div class="col-md-6">
              <p>Lloyd’s Golden Dragon</p>
              <p>LEGO NINJAGO</p>
              <p>952</p>
              <p>4.900.000</p>
              <p>2022</p>
              <p>10</p>
<!--              <p>{{pawnItemDetail.nameCustomer}}</p>-->
<!--              <p>{{pawnItemDetail.namePawnItem}}</p>-->
<!--              <p>{{pawnItemDetail.namePawnType}}</p>-->
<!--              <p>{{pawnItemDetail.itemPrice| currency: "VND" : ""}}</p>-->
<!--              <p>{{pawnItemDetail.startDate| date:"dd/MM/yyyy"}}</p>-->
<!--              <p>{{pawnItemDetail.endDate| date:"dd/MM/yyyy"}}</p>-->
              <p></p>
            </div>
          </div>
        </div>

        <div class="product-page-cart">
          <button class="btn btn-primary" type="submit">Thêm vào giỏ hàng</button>
        </div>

      </div>
    </div>
  </div>
</div>
