<div class="our_room">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2 style="margin-bottom: 40px; margin-top: -20px">Danh sách mặt hàng</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="room">
          <div class="room_img" style="display: flex; justify-content: center">
<!--            <figure><img style="width: 100%; height: 250px" [src]="item.imageUrl"/></figure>-->
            <figure><img style="width: 100%; height: 100%" src="https://www.lego.com/cdn/cs/set/assets/bltb2ef891e7096f860/71774_Prod.png?fit=bounds&format=webply&quality=80&width=320&height=320&dpr=1.5"/>
            </figure>
          </div>
          <div class="bed_room">
<!--            <h4>{{item.title}}</h4>-->
            <h6>Lloyd’s Golden Dragon</h6>
          </div>
          <div>
            <h6 style="color: red; margin-top: -20px; margin-bottom: 20px">4.600.000 VND</h6>
          </div>
          <div class="pt-0" style="text-align: center">
            <a>
              <button type="button" class="btn btn-outline-success mx-4"
                      data-mdb-ripple-color="dark"><i class="far fa-eye"></i></button>
            </a>
            <a>
              <button type="button" class="btn btn-outline-success mx-4"
                      data-mdb-ripple-color="dark">
                <i class="fas fa-cart-plus"></i>
              </button>
            </a>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="room">
          <div class="room_img" style="display: flex; justify-content: center">
            <figure><img style="width: 100%; height: 100%" src="https://www.lego.com/cdn/cs/set/assets/blt664c2d4705cfc844/71775.png?fit=bounds&format=webply&quality=80&width=320&height=320&dpr=1.5"/>
            </figure>
          </div>
          <div class="bed_room">
            <h6>Nya's Samurai X MECH</h6>
          </div>
          <div>
            <h6 style="color: red; margin-top: -20px; margin-bottom: 20px">3.400.000 VND</h6>
          </div>
          <div class="pt-0" style="text-align: center">
            <a>
              <button type="button" class="btn btn-outline-success mx-4"
                      data-mdb-ripple-color="dark"><i class="far fa-eye"></i></button>
            </a>
            <a>
              <button type="button" class="btn btn-outline-success mx-4"
                      data-mdb-ripple-color="dark">
                <i class="fas fa-cart-plus"></i>
              </button>
            </a>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="room">
          <div class="room_img" style="display: flex; justify-content: center">
            <figure><img style="width: 100%; height: 100%" src="https://www.lego.com/cdn/cs/set/assets/blta775065c182b21fa/71773.png?fit=bounds&format=webply&quality=80&width=320&height=320&dpr=1.5"/>
            </figure>
          </div>
          <div class="bed_room">
            <h6>Kai’s Golden Dragon</h6>
          </div>
          <div>
            <h6 style="color: red; margin-top: -20px; margin-bottom: 20px">2.600.000 VND</h6>
          </div>
          <div class="pt-0" style="text-align: center">
            <a>
              <button type="button" class="btn btn-outline-success mx-4"
                      data-mdb-ripple-color="dark"><i class="far fa-eye"></i></button>
            </a>
            <a>
              <button type="button" class="btn btn-outline-success mx-4"
                      data-mdb-ripple-color="dark">
                <i class="fas fa-cart-plus"></i>
              </button>
            </a>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="room">
          <div class="room_img" style="display: flex; justify-content: center">
            <figure><img style="width: 100%; height: 100%" src="https://www.lego.com/cdn/cs/set/assets/blte63772892b4a2c58/71769.png?fit=bounds&format=webply&quality=80&width=320&height=320&dpr=1"/>
            </figure>
          </div>
          <div class="bed_room">
            <h6>Cole’s Dragon Cruiser</h6>
          </div>
          <div>
            <h6 style="color: red; margin-top: -20px; margin-bottom: 20px">1.450.000 VND</h6>
          </div>
          <div class="pt-0" style="text-align: center">
            <a>
              <button type="button" class="btn btn-outline-success mx-4"
                      data-mdb-ripple-color="dark"><i class="far fa-eye"></i></button>
            </a>
            <a>
              <button type="button" class="btn btn-outline-success mx-4"
                      data-mdb-ripple-color="dark">
                <i class="fas fa-cart-plus"></i>
              </button>
            </a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
