<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Kết nối với chúng tôi trên các mạng xã hội:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Về chúng tôi
          </h6>
          <p>
            <a href="#!" class="text-reset">- Giới thiệu về Tập đoàn LEGO</a>
          </p>
          <p>
            <a href="#!" class="text-reset">- Chứng nhận sản phẩm LEGO</a>
          </p>
          <p>
            <a href="#!" class="text-reset">- Tin tức LEGO®</a>
          </p>
          <p>
            <a href="#!" class="text-reset">- Sự bền vững</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            ĐIỀU KHOẢN & CHÍNH SÁCH
          </h6>
          <p>
            <a href="#!" class="text-reset">- Chính sách giao hàng</a>
          </p>
          <p>
            <a href="#!" class="text-reset">- Chính sách tích lũy điểm</a>
          </p>
          <p>
            <a href="#!" class="text-reset">- Điều khoản điều kiện</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            HỖ TRỢ KHÁCH HÀNG
          </h6>
          <p>
            <a href="https://www.mykingdom.com.vn/chinh-sach-bao-mat" class="text-reset">- Chính sách bảo mật</a>
          </p>
          <p>
            <a href="#!" class="text-reset">- Chính sách bảo hành</a>
          </p>
          <p>
            <a href="#!" class="text-reset">- Chính sách thanh toán</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 ">Thông Tin Liên Hệ</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i>280 Trần Hưng Đạo</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            hotro@lego.com.vn
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i>1900 1208</p>
          <p><i class="fas fa-print me-3 text-secondary"></i>0932.32.50.56</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2021 The LEGO Group:
    <a class="text-reset fw-bold" href="https://www.lego.com/en-us">lego.com/</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


