<section class="h-100" style="background-color: #eee;">
  <div class="container">
    <div class="row d-flex justify-content-around align-items-center h-100">
      <div class="d-flex justify-content-between align-items-center mt-5">
        <h3 class="fw-normal mb-0 text-black">GIỎ HÀNG</h3>
      </div>
      <div class="col-md-8">

        <div class="card rounded-3 mb-2" *ngFor="let item of carts; index as i">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <input class="form-check-inline" type="checkbox" value="" id="flexCheckDefault" />
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img [src]="item.imageUrl" alt="Cotton T-shirt" style="height: 100px; width: 70px">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{item.title}}</p>
                <p><span class="text-muted">Size: </span>{{item.size}}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2" (click)="decrease(i, item.quantity)">
                  <i class="fas fa-minus"></i>
                </button>

                <input style="width: 60px" id="form1" min="0" name="quantity" [value]="item.quantity" type="number"
                       class="form-control form-control-sm"/>

                <button class="btn btn-link px-2" (click)="increase(i, item.quantity)">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">{{item.price}}đ</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="mb-0">Giao tới</h4>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
                  <div>
                    <span><strong>Nguyễn Hữu Thức |</strong>     0932325056</span>
                    <strong>
                      <p class="mb-0">01 Lê Đình Lý, Phường Bình Thuận, Quận Hải Châu, Đà Nẵng</p>
                    </strong>
                  </div>
                </li>
              </ul>
            </div>
          </div>

            <div class="card mb-4">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Tạm tính
                    <span>$53.98</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Giảm giá
                    <span>0đ</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>Tổng cộng</strong>
                      <strong>
                        <p class="mb-0">(Đã bao gồm VAT)</p>
                      </strong>
                    </div>
                    <span><strong>$53.98</strong></span>
                  </li>
                </ul>

                <button type="button" class="btn btn-primary btn-lg btn-block">
                  Mua hàng (3)
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
</section>

